# --- Framework principal
flask
gunicorn

# --- Machine Learning
torch
torchvision

# --- Procesamiento de Imágenes
pillow
opencv-python-headless

# --- Utilidades de predicción YOLOv5
pandas
numpy
requests
